html {
  font: max(3ch, 3vmax + 3vmin) monospace;
}

body {
  display: flex;
  flex-flow: anywhere;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  margin: 0;
  min-height: 100vh;
  text-align: end;
}

body > * {
  box-sizing: border-box;
  padding: 1ch;
} 

p {
  margin: auto;
  writing-mode: vertical-rl;
}

a {
  display: inline-flex;
  padding: 1vmin;
}

body {
  display: flex;
  flex-flow: column;
  margin: auto;
}

article {
  align-items: center;
  contain: layout;
  display: flex;
  flex-flow: row;
  min-height: 100vh;
  justify-content: center;
}

:root {
  background: violet;
  color: indigo;
  background-image: linear-gradient(violet, orchid);
}

[contenteditable] {
  background: #ec0;
  font-size: 1.618em;
}

:any-link {
  background: deepskyblue;
  color: #213;
}

::selection {
  background: hotpink;
  color: #313;
}

:focus {
  box-shadow: 0 0 0 3vmax blueviolet;
  outline: thick outset;
}

@media (orientation: portrait) {
  body {
    transform: rotate(-90deg);
  }
}
